PROJECT_NAME=movies
       
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=redis
CACHE_EXPIRE_IN_SECONDS=300

ELASTIC_HOST=es
ELASTIC_PORT=9200
ELASTIC_DB=elastic

FASTAPI_HOST=http://fastapi
FASTAPI_PORT=8000
BASE_URL=/api/v1
